<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click) = "startDemo()"> Start </button>
</div>

<!--
<div *ngFor="let result of geocodeResults"> 
  <p *ngFor="let suggestion of result.suggestions"> 
    {{ suggestion.text }}
    {{ suggestion.magicKey }} 
    {{ suggestion.isCollection }}
  </p>
</div> 
-->

<div *ngFor="let result of geocodeResults"> 
  {{ result }}
</div>

<!--
<app-arcgis-geocoder> </app-arcgis-geocoder>
-->

<app-rxjs-demo></app-rxjs-demo>